.search-box.inset{:style=>"margin-top:16px;"}
  - form_tag search_path, :method => :get, :style => "display: inline" do
    = text_field_tag :q, params[:q], :id => "search-field", :style=>"float:left",:class=>"search_field"
  .right
    %button.inner-button
      = " search "

